<div class="container">  
	<div class="wraper-inner">      
        <div class="row">
			<div class="col-xs-12 col-sm-8 col-md-8">
				<div class="common-intro">
                	<h2>FAQ</h2>
				<p> Nike pays top athletes in many sports to use their products and promote and advertise their technology and design. During the past 20 years especially, Nike has been one of the major clothing and footwear sponsors for leading tennis players. Nike was the official kit sponsor for the Indian cricket team for five years, from 2006 until the end of 2010. </p>
                </div>
                <div class="faq-content">
                	<uib-accordion close-others="oneAtATime">
    <div uib-accordion-group class="panel-default" heading="{{group.title}}" ng-repeat="group in groups">
    <p>{{group.content}}</p>
    </div>
  </uib-accordion>
                </div>
			</div>
            <div class="col-xs-12 col-sm-4 col-md-4">
				<div class="side-bar-content text-center">
                	<div class="contact-box">
                    <img src="images/phone.20100fc3.png" alt="phone">
                    	<h3>Call Us</h3>
                        <p>Tel: +9662-6424621<br>
Fax: +9662-6424258</p>
                    </div>
                    <div class="contact-box">
                    <img src="images/chat.58d019fc.png" alt="phone">
                    	<h3>Live Chat</h3>
                        <p>24 hours a day<br>
                        7 days a week</p>
                    </div>
                    <div class="contact-box">
                    <img src="images/envelope.9af4b8d9.png" alt="phone">
                    	<h3>Email</h3>
                        <p><a href="mailto:matjar@info.com">matjar@info.com</a></p>
                    </div>
                </div>
                
			</div>
            
		</div>
	</div>
</div>