<!-- Locations Wrapper -->
    <section class="locations-wrapper" data-ng-if="langsName !== 'english'">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-md-8">
            <h2 class="sub-heading">قائمة المعارض</h2>
            <div class="table-heading">
              <h3>المنطقة ال شرقية</h3>
              <P>( سΎعΕΎ العمل: 9.30  صبΎحΎ  الκ صاة الظϬر 4 عصرا لκ 10:30 مسΎء )</P>
              <P>قϡاإدارة: 013-8951820</P>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr class="blackback">
                    <td>الϬاتف</td>
                    <td>العنϭان</td>
                    <td>المدينة</td>
                    <td>المعرض</td>
                    <td>رقم  المعرض</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>013-8948805</td>
                    <td>الدϭر اأرضي ، الجΎاريΎ سنتر ، شΎرع اأمير محمد ، تΎϘطع </td>
                    <td>الخبر</td>
                    <td>الجΎاريΎ</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>013-8938668</td>
                    <td>مΎϘبل مϭل الرحمΎنيΔ</td>
                    <td>الخبر</td>
                    <td>كعكي</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>013-8673977</td>
                    <td>شΎرع  10 ، مΎϘبل مϔرϭشΕΎ الدليجΎن</td>
                    <td>الخبر</td>
                    <td>لϭتϭ 10</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>013-8640641</td>
                    <td>شΎرع الظϬران ، الراشد مϭل ، الدϭر اأϭل</td>
                    <td>الخبر</td>
                    <td>الراشد مϭل</td>
                    <td>4</td>
                  </tr>
                  <tr>
                    <td>013-8097778</td>
                    <td>كϭرنيش الدمϡΎ ، مبنκ مϭل الϠي مΎرشيه ، مΎϘبل </td>
                    <td>الدمϡΎ</td>
                    <td>لي مΎرشيه</td>
                    <td>5</td>
                  </tr>
                  <tr>
                    <td>013-8349131</td>
                    <td>الشΎرع اأϭل ، الدانه مϭل ، الدϭر اأرضي</td>
                    <td>الدمϡΎ</td>
                    <td>الدانه</td>
                    <td>6</td>
                  </tr>
                  <tr>
                    <td>013-8304228 </td>
                    <td>شΎرع المϙϠ عبدالعزيز ، مΎϘبل اأسϭاφ الدϭليΔ</td>
                    <td>الدمϡΎ</td>
                    <td>المϙϠ عبدالعزيز</td>
                    <td>7</td>
                  </tr>
                  <tr>
                    <td>013-3636685</td>
                    <td>مϭل الجبيل سنتر ، الدϭر اأϭل</td>
                    <td>الدمϡΎ</td>
                    <td>الجبيل سنتر</td>
                    <td>8</td>
                  </tr>
                  <tr>
                    <td>013-3617902</td>
                    <td>شΎرع المϙϠ عبدالعزيز ، بΎلϘرΏ من سΎبتكϭ</td>
                    <td>الجبيل</td>
                    <td>الجبيل 2</td>
                    <td>9</td>
                  </tr>
                  <tr>
                    <td>013-3622171</td>
                    <td>شΎرع المϙϠ عبدالعزيز</td>
                    <td>الجبيل</td>
                    <td>محل تصϔيΔ</td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <td>013-7673464</td>
                    <td>شΎرع اأمير نΎيف</td>
                    <td>الخϔجي</td>
                    <td>الخϔجي</td>
                    <td>11</td>
                  </tr>
                  <tr>
                    <td>013-5812784</td>
                    <td>شΎرع الجΎمعΔ ، بΎلϘرΏ من كيϙ هϭΎس</td>
                    <td>ااحسΎء</td>
                    <td>ااحسΎء 1</td>
                    <td>12</td>
                  </tr>
                  <tr>
                    <td>013-8239373</td>
                    <td>سنتر الϘطيف ، بΎلϘرΏ من الكϭرنيش ، الدϭر اأرضي</td>
                    <td>الϘطيف</td>
                    <td>سيتي سنتر</td>
                    <td>13</td>
                  </tr>
                  <tr>
                    <td>013-7247667</td>
                    <td>شΎرع المϙϠ عبدالعزيز ، تΎϘطع العΎϘريΔ ، بΎلϘرΏ من مطعϡ هرفي</td>
                    <td>حϔر البΎطن</td>
                    <td>حϔر البΎطن</td>
                    <td>14</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="table-heading">
              <h3>المنطقة الϭسطى</h3>
              <P>( سΎعΕΎ العمل: 9.30  صبΎحΎ  الκ صاة الظϬر 4 عصرا لκ 10:30 مسΎء )</P>
              <P>قϡاإدارة: 011-4749890</P>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr class="blackback">
                    <td>الϬاتف</td>
                    <td>العنϭان</td>
                    <td>المدينة</td>
                    <td>اسم المعرض</td>
                    <td>رقم  المعرض</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>011-4794494</td>
                    <td>، بجϭار البنϙ اأهϠي</td>
                    <td>الريΎض</td>
                    <td>المϠز</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>011-4604920</td>
                    <td>تΎϘطع العرϭبΔ مع المϙϠ فϬد ، العϠيΎ افنيϭ الجϬه الخϔϠيه ، امϡΎ برج الممϠكΔ </td>
                    <td>الريΎض</td>
                    <td>العϠيΎ</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>011-2356119</td>
                    <td>شΎرع رϭضΔ عبدالرحمن الغΎفϘ ي ، مΎϘبل مϭبΎيϠي</td>
                    <td>الريΎض</td>
                    <td>الرϭضΔ</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>011-4497036</td>
                    <td>طريφ المدينΔ - البديعΔ بازا  - بجϭار الϬرϡ</td>
                    <td>الريΎض</td>
                    <td>بديعΔ</td>
                    <td>4</td>
                  </tr>
                  <tr>
                    <td>016-3266803</td>
                    <td>شΎرع المϙϠ خΎلد ، عمΎئر الراجحي بعد فندφ مϭفمب</td>
                    <td>الϘصيϡ</td>
                    <td>بريدة</td>
                    <td>5</td>
                  </tr>
                  <tr>
                    <td>016-3624241 </td>
                    <td>شΎرع الزلϔ ي ، دϭار السΎعΔ بجϭار بنϙ سΎمبΎ</td>
                    <td>الϘصيϡ</td>
                    <td>عنيزة</td>
                    <td>6</td>
                  </tr>
                  <tr>
                    <td>016-3390092 </td>
                    <td>شΎرع الرس الرئسي امϡΎ بنϙ الراجحي</td>
                    <td>الϘصيϡ</td>
                    <td>الرس</td>
                    <td>7</td>
                  </tr>
                  <tr>
                    <td>016-5333550 </td>
                    <td>شΎرع برج حΎئل ، بجϭار برج حΎئل قبل البنϙ العربي</td>
                    <td>حΎئل</td>
                    <td>حΎئل</td>
                    <td>8</td>
                  </tr>
                  <tr>
                    <td>014-6654455</td>
                    <td>شΎرع المϙϠ عبده ، بجΎنΏ مطعϡ كنΎرρ</td>
                    <td>عرعر</td>
                    <td>عرعر</td>
                    <td>9</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="table-heading">
              <h3>المنطقة ال غربية</h3>
              <P>( سΎعΕΎ العمل: 9.30  صبΎحΎ  الκ صاة الظϬر  11-5 مسΎء )</P>
              <P>قϡاإدارة: 011-4749890</P>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr class="blackback">
                    <td>الϬاتف</td>
                    <td>العنϭان</td>
                    <td>المدينة</td>
                    <td>اسم المعرض</td>
                    <td>رقم  المعرض</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>012-6438495</td>
                    <td>الدϭر الثΎلث ، محمل سنتر ، البϠد</td>
                    <td>جده</td>
                    <td>المحمل سنتر</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>012-6421547 </td>
                    <td>بغداديΔ الغربيΔ ، شΎرع حΏϠ</td>
                    <td>جده</td>
                    <td>البغداديΔ</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>012-6646734 </td>
                    <td>شΎرع المدينΔ ، مϭل الشعΔϠ</td>
                    <td>جده</td>
                    <td>الشعΔϠ</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>012-6819661 </td>
                    <td>شΎرع الجΎمعΔ ، حي الجΎمعΔ</td>
                    <td>جده</td>
                    <td>الجΎمعΔ</td>
                    <td>4</td>
                  </tr>
                  <tr>
                    <td>012-6552547</td>
                    <td>شΎرع حراء  ، دϭار الجϭاد اأبيض</td>
                    <td>جده</td>
                    <td>حراء</td>
                    <td>5</td>
                  </tr>
                  <tr>
                    <td>012-2387797</td>
                    <td>شΎرع حراء دϭار التΎريخ ، بجΎنΏ افنيϭ مϭل</td>
                    <td>جده</td>
                    <td>حراء بازا</td>
                    <td>6</td>
                  </tr>
                  <tr>
                    <td>012-2842528</td>
                    <td>شΎرع الرϭضΔ ، حي الϔيصϠيΔ ، دϭار الدراجΔ</td>
                    <td>جده</td>
                    <td>الϔيصϠيΔ</td>
                    <td>7</td>
                  </tr>
                  <tr>
                    <td>014-3226466 </td>
                    <td>البحر ، شΎرع الحنΎن ، بجΎنΏ المستشκϔ</td>
                    <td>ينبع</td>
                    <td>ينبع 1</td>
                    <td>8</td>
                  </tr>
                  <tr>
                    <td>TBA</td>
                    <td>ينبع البϠد ، طريφ المϙϠ عبدالعزيز ، بجϭار عΎلϡ العصΎئر</td>
                    <td>جΎزان</td>
                    <td>ينبع 2</td>
                    <td>9</td>
                  </tr>
                  <tr>
                    <td>TBA</td>
                    <td>مΎϘبل كΎدρ مϭل بجΎنΏ مϭبΎيϠي</td>
                    <td>عرعر</td>
                    <td>جΎزان</td>
                    <td>9</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4" data-ng-include="'views/common/right-side-bar.html'"></div>
        </div>
      </div>
    </section>
    <!-- Locations Wrapper -->