<!-- <div class="loading" data-ng-if="main.dataLoading"><img src="images/loading.31feb317.gif" /></div> -->
<section data-ng-if="!main.galleryLoading" class="banner" data-ng-include="'views/common/banner.html'"></section>
<section data-ng-if="!main.highlightedCatLoading" class="banner" data-ng-include="'views/common/highlighted-categories.html'"></section>

<!--  highlighted category Wrapper -->
<section class="banner" data-ng-include="'views/common/brands.html'"></section>
<!-- highlighted category Wrapper -->





    
 
