<!-- Sponser Wrapper -->
    <section class="sponserwrapper">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="headbox redhead">
              <p>Sponsers</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="grid">
              <figure class="effect-milo">
                <img src="images/01-ittihad.ee158d34.png" alt="Al Ittihad club"/>
                <figcaption>
                  <h2><span>Al Ittihad</span> club</h2>
                  <p>Main Sponsor for Six Years <br>2003-05 and 2008-10</p>
                  
                </figcaption>     
              </figure>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="grid">
              <figure class="effect-milo">
                <img src="images/02-nasser.70323043.png" alt="Al Nasser club"/>
                <figcaption>
                  <h2><span>Al Nasser</span> club</h2>
                  <p>Main Sponsor for Three Years <br>2007/08/09</p>
                  
                </figcaption>     
              </figure>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="grid">
              <figure class="effect-milo">
                <img src="images/03-fateh.5ab47a99.png" alt="Al Fateh clug"/>
                <figcaption>
                  <h2><span>Al Fateh</span> club</h2>
                  <p>Main Sponsor for Three Years <br>2009/10/11</p>
                </figcaption>     
              </figure>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="grid">
              <figure class="effect-milo">
                <img src="images/04-read.4291d557.png" alt="Al Raed clug"/>
                <figcaption>
                  <h2><span>Al Raed</span> club</h2>
                  <p>Main Sponsor for One Years <br>2010</p>
                </figcaption>     
              </figure>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="grid">
              <figure class="effect-milo">
                <img src="images/05-feta.22be5912.png" alt="FETA"/>
                <figcaption>
                  <h2><span>FETA</span></h2>
                  <p>Main Sponsor For more than 15 Years</p>
                </figcaption>     
              </figure>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="grid">
              <figure class="effect-milo">
                <img src="images/06-kfump.2ede3cd0.png" alt="KFUPM"/>
                <figcaption>
                  <h2><span>KFUPM</span></h2>
                  <p>Sponsored Events with KFUPM</p>
                </figcaption>     
              </figure>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="grid">
              <figure class="effect-milo">
                <img src="images/no-image.840956b7.png" alt="woman vollyball"/>
                <figcaption>
                  <h2><span>woman</span> vollyball</h2>
                  <p>Sponsored Women Volleyball team of Saad Hospital</p>
                </figcaption>     
              </figure>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Sponser Wrapper -->