<div class="full-header" tag-name="fullHeaderHeight" get-height>
  <div class="header-top-wrapper">
    <div class="container">
      <div class="header-top">
      <div class="row">
        <div class="col-xs-12 col-sm-5">
          
          <!--  <select name="language" data-ng-model="language" data-ng-change="changeLangs(language)">
            <option value="bengali"  style="background-image:url(images/bengali.png);"><span>Arabic</span></option>
            <option value="english"  style="background-image:url(images/english.png);">English</option>
          </select>
          -->
          <div class="phonewrapper" data-ng-click="changeLangs('bengali')" data-ng-if="langsName == 'english'">
	          <span class="pull-left" style="margin-right: -50px;">
	          	<img data-ng-if="langsName == 'english'" class="img-auto" src="images/bengali.png"/>
	          </span>
          	  <p>Arabic</p>
          </div>
          <div class="phonewrapper" data-ng-click="changeLangs('english')" data-ng-if="langsName == 'bengali'">
	          <span class="pull-left" style="margin-right: -50px;">
	          	<img data-ng-if="langsName == 'bengali'" class="img-auto" src="images/english.png"/>
	          </span>
	          	<p>English</p>
          </div>
          <div class="phonewrapper">
            <a href="tel:{{siteInfo.phones}}"><i class="fa fa-clock-o" aria-hidden="true"></i> {{replaceNumber(siteInfo.phones,langsName)}}</a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-7">
          <ul class="account-info">
          <!-- top nav -->
           <li data-ng-if="headerMenuList" data-ng-repeat="headerMenu in headerMenuList">
           <a data-ng-if="headerMenu.Menu.type === 'content'" data-ng-href="{{bootPoint}}page/{{headerMenu.Menu.link_data}}">{{headerMenu.Menu.title}}</a>
            <a data-ng-if="headerMenu.Menu.type === 'static'" data-ng-href="{{bootPoint}}{{headerMenu.Menu.link_data}}">{{headerMenu.Menu.title}}</a>
            <a data-ng-if="headerMenu.Menu.type === 'external'" data-ng-href="{{bootPoint}}engine/img/site/{{headerMenu.Menu.link_data}}" target="_blanks">{{headerMenu.Menu.title}}</a>
           </li>
            <!-- if logged in -->
                <li class="dropdown" data-ng-if="loggedIn == true">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="grocer-icon icon-user-1"></i> {{loggedUser.details.fname}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a data-ng-href="{{bootPoint}}profile">{{ langsArr[langsName].profile }}</a></li>
                   <li><a data-ng-href="{{bootPoint}}order-history">{{ langsArr[langsName].orderHistory }}</a></li>
                   <li><a data-ng-href="{{bootPoint}}wishlist">{{ langsArr[langsName].wishList }}</a></li>
                    <li><a data-ng-href="{{bootPoint}}logout">{{ langsArr[langsName].logout }}</a></li>
                    </ul>
                </li>
                <!-- if logged out -->
                <li data-ng-if="!loggedIn"><a data-ng-href="{{bootPoint}}login"><i class="grocer-icon icon-user-1"></i> {{ langsArr[langsName].login }}</a></li>
                <li class="visible-xs">
                    <form class="navbar-form navbar-left">
                        <input class="form-control" placeholder="{{ langsArr[langsName].gSearch }}" type="text">
                        <button type="button" class="btn-search"><i class="grocer-icon icon-search"></i></button>
                    </form>
                </li>
            <li data-ng-click="toggleCart('cart-content')"><a href="javascript:void(0);"><i class="grocer-icon icon-bag"></i> {{ langsArr[langsName].cart}} ({{replaceNumber(totalItemsInCart,langsName)}})</a></li>
          </ul>
        </div>
      </div>
      </div>
    </div>
    </div>
 
<div class="main-header">
  <div class="container">
  <div class="row">
  	<div class="col-xs-12 col-sm-4 col-md-4 hidden-xs">
    <p><a href="javascript:void(0);">{{ langsArr[langsName].freeShippingText}}</a></p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 hidden-xs">
    <a class="center-block text-center logo" data-ng-href="{{bootPoint}}"><img src="images/logo.png" alt="logo"></a>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
    
    <form class="navbar-form navbar-right logocontainer">
            <div class="form-group">
              <input class="form-control" placeholder="{{ langsArr[langsName].gSearch }}" type="text" data-ng-model="searchText" name="searchText" data-ng-change="getSearchProducts(searchText)">
            </div>
            <button type="submit" class="btn btn-default hidden-xs"><i class="fa fa-search" aria-hidden="true"></i></button>
          </form>
    </div>
  </div>
  </div>
</div>
 
</div>
    <!-- Navbar -->
    <div class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-new" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand visible-xs" data-ng-href="{{bootPoint}}"><img src="images/logo.png" alt="logo"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="nav-new">
			<ul class="nav navbar-nav" data-ng-bind-html="categoryMenuHtml">
	            <!-- Mega Menu -->
	            <!-- dynamic mega menu start-->
	             
	            
	            <!-- dynamic mege menu end -->
	            
			</ul>
			
          
          
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- Navbar -->
  
 




 
