<div class="side-bar-content text-center">
	<div class="contact-box">
		<img src="images/phone.png" alt="phone">
		<h3>Call Us</h3>
           <p>Tel: +9662-6424621<br>
			Fax: +9662-6424258</p>
	</div>
	<div class="contact-box">
		<img src="images/chat.png" alt="phone">
		<h3>Live Chat</h3>
		<p>24 hours a day<br>
	    7 days a week</p>
	</div>
	<div class="contact-box">
		<img src="images/envelope.png" alt="phone">
		<h3>Email</h3>
	    <p><a href="mailto:matjar@info.com">matjar@info.com</a></p>
	</div>
</div>
                
