<form class="navbar-form navbar-left hidden-xs" data-ng-submit="searchSubmit()">
    <input class="form-control" placeholder="{{ langsArr[langsName].gSearch }}" type="text" data-ng-model="searchText" name="searchText" data-ng-change="getSearchProducts()" autocomplete="off">
    <button type="button" class="btn-search"><i class="grocer-icon icon-search"></i></button>
    <!-- <div data-ng-bind-html="autocompletList" id="autocomplete"></div> -->
</form>
<!-- <form class="navbar-form navbar-left hidden-xs">
    <input class="form-control" placeholder="{{ langsArr[langsName].gSearch }}" type="text">
    <button type="button" class="btn-search"><i class="grocer-icon icon-search"></i></button>
</form> -->
